/* A theme in dark grays and blacks with light text and dark blue highlighting. */
.mc-main .event-title {
    color: #fff;
}

.mc-main, .mc-list {
    background: #333;
    color: #fff;
}

.mc-main a {
    color: #9cf;
    text-decoration: none;
}

.mc-main a:hover {
    text-decoration: underline;
    color: #fff;
}

.mc-main .heading, .mc-main .my-calendar-date-switcher,
.mc-main .category-key, .mc-main .calendar-event .details,
.mc-main .calendar-events {
    background: #222;
    color: #fff;
}

.mc-main .category-key .no-icon {
    border: 1px solid #bbb;
}

.mc-main, .mc-list {
    background: #333;
    color: #fff;
}

.mc-main .my-calendar-header a,
.mc-main .my-calendar-footer a {
	background: var(--primary-dark);
	color: var(--primary-light);
}

.mc-main .my-calendar-header a:focus,
.mc-main .my-calendar-footer a:focus,
.mc-main .my-calendar-header a:hover,
.mc-main .my-calendar-footer a:hover {
	background: var(--secondary-dark);
	color: var(--secondary-light);
	outline-color: var(--primary-light) !important;
}

.mc-main .my-calendar-footer .mc-active, .mc-main .my-calendar-header .mc-active {
	background-color: var(--secondary-dark);
}

.mc-main .my-calendar-date-switcher input, .mc-main .my-calendar-date-switcher select {
    color: #333;
}

.mc-main .my-calendar-date-switcher label {
    color: #fff;
}

.mc-main .list-event .details, .mc-main td {
    border: 1px solid #222;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    background: #444;
    border: 1px solid #222;
    color: #fff;
}

.mc-main .my-calendar-nav li a, .mc-main .calendar-event .details, .mc-main .calendar-events {
    border: 1px solid #444;
}

.mc-main .list-event .details {
    background: #252525;
    color: #eee;
}

.mc-main .mc-list .odd {
    background: #353535;
}

.mc-main .odd .list-event .details {
    background: #151515;
    border: 1px solid #353535;
}

.mc-main .nextmonth, .mc-main .nextmonth .weekend {
    color: #999;
}

.mc-main .current-day {
    background: #224;
}

.mc-main .current-day .mc-date {
    color: #fff;
    background: #111;
}

.mc-main .weekend {
    background: #555 !important;
    color: #fff !important;
}

.mc-main .mc-date {
    background: #080808;
    color: #fff;
}

.mc-main .mc_edit_links a,
.mc-main .my-calendar-footer a,
.mc-main .my-calendar-header a {
    color: #bbf;
    background: var(--primary-dark);
}

.mc-main .my-calendar-nav li a:hover {
    color: #fff;
    border: 1px solid #aaf;
}

.upcoming-events .past-event {
    color: #aaa;
}

.upcoming-events .today {
    color: #eee;
}

.upcoming-events .future-event {
    color: #bbb;
}

.mc-main .event-title, .mc-main .event-title a {
    color: #fff;
}

.mc-main h2 {
    color: #fff;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    border: 2px solid #222;
    box-shadow: 3px 3px 10px #000;
}

.mc-main.mini .day-with-date span, .mc-main.mini .day-with-date a {
    color: #fff;
}

.mc-main .mini-event .sub-details {
    border-bottom: 1px solid #ccc;
}

.mc-main .nextmonth {
    background: #f6f6f6;
    color: #888;
}

.mc-main .nextmonth .event-title {
    opacity: .7;
}

.mc-main .nextmonth .weekend {
    color: #888;
    background: #161616 !important;
}

.mc-main .nextmonth {
    background: #000;
    color: #666 !important;
}

.mc-main .nextmonth .mc-date {
    background: #161616;
}

.mc-main .vcard, #mc_event .vcard {
    background: #111;
    border: 1px solid #333;
}

.mc-main .mc_edit_links {
	background: var(--primary-dark);
	border: none;
}

.my-calendar-cards .card-event {
	border: 1px solid var(--secondary-dark);
	box-shadow: 4px 4px 4px var(--secondary-dark);
}