.my-calendar-prev a::before,
.my-calendar-next a::after,
.mc-export a::before,
.mc-main .time-block::before,
.mc-main .sharing .ical a::before,
.mc-main .sharing .gcal a::before,
.mc-main .sharing .mc-details a::before,
.mc-main .mc-format a::before,
.mc-main .mc-format span::before,
.mc-main .mc-print a::before,
.mc-main .mc-list .event-title a.list::before,
.mc-main .mc-list .event-date button:nth-of-type(1)::before {
	font-family: 'dashicons';
	vertical-align: middle;
	position: relative;
	margin-right: 2px;
}

.mc-main .mc-print a::before {
	content: "\f497";
}

.mc-main .mc-format .list::before {
	content: "\f163";
}

.mc-main .mc-format .grid::before {
	content: "\f508";
}

.mc-main .mc-format .card::before {
	content: "\f510";
}

.mc-main .mc-list .event-date button:nth-of-type(1)::before {
	content: "\f132";
	margin-right: 3px;
}

.mc-main .mc-list .event-title a.list::before {
	content: "\f132";
	margin-right: 3px;
}

.mc-main .mc-list .event-title a.list[aria-expanded=true]::before,
.mc-main .mc-list .event-date button:nth-of-type(1)[aria-expanded=true]::before {
	content: "\f460";
}

.mc-main button.close {
	background: #b00 !important;
	color: #fff !important;
}

.mc-main .close:hover, .mc-main .close:focus {
	color: #d00 !important;
}

.mc-main .details .category-icon {
	width: auto;
}

.mc-main .time-block:before {
	content: "\f469";
	vertical-align: top;
	margin-right: 4px;
}

.mc-main .nextmonth {
	border-color: rgba( 0,0,0,.1 );
	background: rgba( 0,0,0,.08 );
}

.mc-main .nextmonth * {
	display: none;
}

.mc-main .current-day {
	outline: 3px solid var(--highlight-dark);
	outline-offset: -3px;
}

/* Navigation */
.mc-export a:before {
	margin-right: 3px;
}

.mc-export .rss a:before {
	content: '\f303';
}

.mc-export .ics a:before {
	content: '\f508';
}

.mc-download .google a:before,
.mc-download .ical a:before {
	content: "\f316";
}

.mc-main .sharing .ical a:before, .mc-main .sharing .gcal a:before {
	content: "\f502";
}

.mc-main .sharing .mc-details a:before {
	content: "\f242";
}

.view-full a::before {
	font-family: dashicons;
	content: '\f508';
}

.map a.external::after {
	font-family: dashicons;
	content: '\f230';
}

.location-link.external::after {
	font-family: dashicons;
	content: '\f504';
}