.mc-main.twentytwentyone .my-calendar-header, .mc-main.twentytwentyone .my-calendar-footer {
	padding: .5em;
	background: #e3e3e3;
	background: var(--secondary-light);
	color: var(--secondary-dark);
}

.mc-main.twentytwentyone .my-calendar-header a, .mc-main.twentytwentyone .my-calendar-footer a {
	color: var(--secondary-dark);
}

.mc-main.twentytwentyone .details ul, .mc-main.twentytwentyone .details ol, .mc-main.twentytwentyone details li  {
	margin: .25em 0 .5em 3em;
}

.mc-main.twentytwentyone span.category-color-sample {
	border: none !important;
}

.mc-main.twentytwentyone .my-calendar-header a:hover, .mc-main.twentytwentyone .my-calendar-footer a:hover,
.mc-main.twentytwentyone .my-calendar-header a:focus, .mc-main.twentytwentyone .my-calendar-footer a:focus {
	text-decoration: none;
	outline: 1px solid !important;
}

.mc-main.twentytwentyone .my-calendar-header input:hover, .mc-main.twentytwentyone .my-calendar-header input:focus {
	outline-offset: 0;
	border-radius: 0;
}

.mc-main.twentytwentyone.list .my-calendar-month, .mc-main.twentytwentyone .heading  {
	font-size: 20px;
	color: #313233;
	color: var(--primary-dark);
	text-align: center;
	margin: 0;
}

.mc-main.twentytwentyone .heading {
	position: relative;
}

.mc-main.twentytwentyone .heading:before {
	display: block;
	border-top: 1px solid var(--highlight-dark);
	content: '';
	margin: 0 auto;
	position: absolute;
	top: 55%;
	right: 0;
	left: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

.mc-main.twentytwentyone .heading span {
	background: var(--primary-light);
	padding: 0 15px;
}

.mc-main.twentytwentyone th {
	background: #fff !important;
	background: var(--primary-light) !important;
	color: #313233 !important;
	color: var(--primary-dark) !important;
}

.mc-main.twentytwentyone td {
	border: 1px solid #efefef;
	border: 1px solid var(--highlight-light);
}

.mc-main.twentytwentyone td .event-title {
	font-size: 12px;
}

.mc-main.twentytwentyone {
	position: relative;
}

.mc-main.twentytwentyone .event-title {
	font-size: 24px;
}

.mc-main.twentytwentyone .calendar-event .details, .mc-main.twentytwentyone .calendar-events {
	position: absolute;
	left: 0;
	width: 100%;
	background: #fff;
	background: var(--primary-light);
	box-shadow: 0 0 4px;
	color: #333;
	color: var(--primary-dark);
}

.mc-main.twentytwentyone .calendar-events {
	width: 110%;
	left: -5%;
}

.mc-main.twentytwentyone .calendar-events .mc-event:nth-of-type(1n+1) {
	border-top: 1px solid var(--highlight-dark);
}

.mc-main.twentytwentyone.mini .details {
	border-top: 1px solid #666;
	border-top: 1px solid var(--highlight-dark);
}

.mc-main.twentytwentyone .list-event .details {
	padding: 0;
	margin-top: 1em;
}

.mc-main.twentytwentyone .list-event .event-title {
	padding: .25em;
	border-radius: 0 10px 10px 0;
}

.mc-main.twentytwentyone .mc-list .event-date button {
	display: inline-block;
}

.mc-main.twentytwentyone .mc-list .details .address {
	padding-right: 0;
}

.mc-main.twentytwentyone button.close {
	right: 0px;
	top: 0px;
	background: #d00 !important;
	border-radius: 0px !important;
	color: #fff !important;
}

.mc-main.twentytwentyone button.close, .mc-main.twentytwentyone button.close * {
	padding: 0;
	line-height: 1;
	border-radius: 0;
	opacity: 1;
}

.mc-main.twentytwentyone.mini .close {
	left: auto;
	right: 0;
	font-size: 18px;
}

.mc-main.twentytwentyone .close:hover, .mc-main.twentytwentyone .close:focus {
	background: #fff !important;
	background: var(--primary-light) !important;
	color: #d00 !important;
	outline: 1px solid var(--primary-dark);
}

.mc-main.twentytwentyone .details .category-icon {
	width: auto;
}

/* Date/times */
.mc-main.twentytwentyone .time-block {
	float: right;
}

.mc-main.twentytwentyone.mini .time-block {
	float: none;
	font-size: 14px;
}

.mc-main.twentytwentyone .time-block p {
	color: #000;
	color: var(--secondary-dark);
	background: #fff;
	background: var(--primary-light);
	padding: 0 .25em !important;
}

.mc-main.twentytwentyone .nextmonth {
	background: rgba( 200,200,200,.1 );
}

.mc-main.twentytwentyone .nextmonth .mc-date {
	background: transparent;
	color: var(--primary-dark);
}

.mc-main.twentytwentyone .current-day {
	border-bottom: 5px solid #313233;
	border-bottom: 5px solid var(--highlight-dark);
}

/* Navigation */
.mc-main.twentytwentyone .mc-time .week {
	padding-left: 6px;
	padding-right: 6px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-radius: 0;
}

.details .longdesc {
	margin: 1em 0;
}

/* hCard */
.single-event .address,
.mc-main.twentytwentyone .address {
	margin: .5em 0 1em 1em;
	float: right;
	border-radius: 10px 0 0 10px;
	padding: 10px;
	width: 50%;
	max-width: 250px;
	background: rgba( 255, 255, 255, .15 );
}

.single-event .address {
	float: none;
	margin-left: 0;
	padding: 0;
}

.mc-main.twentytwentyone.mini .address {
	margin: 15px 0;
	float: none;
	width: 100%;
	border-radius: 10px;
	max-width: 100%;
}

.mc-author-card, .mc-host-card {
	background: #fcfcfc;
}

/* List View */
.mc-main.twentytwentyone li.current-day {
	border-left: 5px solid var(--highlight-dark);
}

.mc-main.twentytwentyone li.current-day button:nth-of-type(1) {
	left: -5px;
}

.mc-main.twentytwentyone .mc-list li.mc-events {
	padding: 10px;
	background: rgba(0, 0, 0, .03);
}

.mc-main.twentytwentyone .sharing p {
	display: inline-block;
	padding: .5em .5em .5em 0;
}

.mc-main.twentytwentyone.mini .sharing p {
	font-size: 14px;
	padding: 0 .25em 0 0;
	margin-bottom: 10px;
}

.mc-main.twentytwentyone .mc-list .event-date {
	font-size: 16px;
}

.mc-main.twentytwentyone .list-event {
	margin: .5em -10px;
	clear: both;
}

.mc-main.twentytwentyone .list-event .event-title .category-icon {
	margin-right: .5em;
	position: relative;
	top: -1px;
}