.mc-main .my-calendar-header, .mc-main .my-calendar-footer {
	padding: .5em;
	background: #e3e3e3;
	background: var(--secondary-light);
	color: var(--secondary-dark);
}

.mc-main .my-calendar-header a, .mc-main .my-calendar-footer a {
	color: var(--secondary-dark);
}

.mc-main .details ul, .mc-main .details ol, .mc-main details li  {
	margin: .25em 0 .5em 3em;
}

.mc-main span.category-color-sample {
	border: none !important;
}

.mc-main .my-calendar-header a:hover, .mc-main .my-calendar-footer a:hover,
.mc-main .my-calendar-header a:focus, .mc-main .my-calendar-footer a:focus {
	text-decoration: none;
	outline: 1px solid !important;
}

.mc-main .my-calendar-header input:hover, .mc-main .my-calendar-header input:focus {
	outline-offset: 0;
	border-radius: 0;
}

.mc-main.list .my-calendar-month, .mc-main .heading  {
	font-size: 20px;
	color: #313233;
	color: var(--primary-dark);
	text-align: center;
	margin: 0;
}

.mc-main .heading {
	position: relative;
}

.mc-main .heading:before {
	display: block;
	border-top: 1px solid var(--highlight-dark);
	content: '';
	margin: 0 auto;
	position: absolute;
	top: 55%;
	right: 0;
	left: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

.mc-main .heading span {
	background: var(--primary-light);
	padding: 0 15px;
}

.mc-main th {
	background: #fff !important;
	background: var(--primary-light) !important;
	color: #313233 !important;
	color: var(--primary-dark) !important;
}

.mc-main td {
	border: 1px solid #efefef;
	border: 1px solid var(--highlight-light);
}

.mc-main td .event-title {
	font-size: 12px;
}

.mc-main {
	position: relative;
}

.mc-main .event-title {
	font-size: 24px;
}

.my-calendar-prev a:before,
.my-calendar-next a:after,
.mc-export a:before,
.mc-main .time-block:before,
.mc-main .sharing .ical a:before,
.mc-main .sharing .gcal a:before,
.mc-main .sharing .mc-details a:before,
.mc-main .mc-format a:before,
.mc-main .mc-format span:before,
.mc-main .mc-print a:before,
.mc-main .mc-list .event-date button:nth-of-type(1):before {
	font-family: 'dashicons';
	vertical-align: middle;
	position: relative;
	margin-right: 2px;
}

.mc-main .mc-print a:before {
	content: "\f497";
}

.mc-main .mc-format .list:before {
	content: "\f163";
}

.mc-main .mc-format .grid:before {
	content: "\f508";
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
	position: absolute;
	left: 0;
	width: 100%;
	background: #fff;
	background: var(--primary-light);
	box-shadow: 0 0 4px;
	color: #333;
	color: var(--primary-dark);
}

.mc-main .calendar-events {
	width: 110%;
	left: -5%;
}

.mc-main .calendar-events .mc-event:nth-of-type(1n+1) {
	border-top: 1px solid var(--highlight-dark);
}

.mc-main.mini .details {
	border-top: 1px solid #666;
	border-top: 1px solid var(--highlight-dark);
}

.mc-main .list-event .details {
	padding: 0;
	margin-top: 1em;
}

.mc-main .list-event .event-title {
	padding: .25em;
	border-radius: 0 10px 10px 0;
}

.mc-main .mc-list .event-date button {
	display: inline-block;
}

.mc-main .mc-list .event-date button:nth-of-type(1):before {
	content: "\f132";
	top: 0;
	margin-right: 3px;
}

.mc-main .mc-list .event-date button:nth-of-type(1)[aria-expanded=true]:before {
	content: "\f460";
}

.mc-main .mc-list .details .address {
	padding-right: 0;
}

.mc-main button.close {
	right: 0px;
	top: 0px;
	background: #d00 !important;
	border-radius: 0px !important;
	color: #fff !important;
}

.mc-main button.close, .mc-main button.close * {
	padding: 0;
	line-height: 1;
	border-radius: 0;
	opacity: 1;
}

.mc-main.mini .close {
	left: auto;
	right: 0;
	font-size: 18px;
}

.mc-main .close:hover, .mc-main .close:focus {
	background: #fff !important;
	background: var(--primary-light) !important;
	color: #d00 !important;
	outline: 1px solid var(--primary-dark);
}

.mc-main .details .category-icon {
	width: auto;
}

/* Date/times */
.mc-main .time-block {
	float: right;
}

.mc-main.mini .time-block {
	float: none;
	font-size: 14px;
}

.mc-main .time-block p {
	color: #000;
	color: var(--secondary-dark);
	background: #fff;
	background: var(--primary-light);
	padding: 0 .25em !important;
}

.mc-main .time-block:before {
	content: "\f469";
	vertical-align: top;
	margin-right: 4px;
}

.mc-main .nextmonth {
	background: rgba( 200,200,200,.1 );
}

.mc-main .nextmonth .mc-date {
	background: transparent;
	color: var(--primary-dark);
}

.mc-main .current-day {
	border-bottom: 5px solid #313233;
	border-bottom: 5px solid var(--highlight-dark);
}

/* Navigation */
.mc-main .mc-time .week {
	padding-left: 6px;
	padding-right: 6px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-radius: 0;
}

.mc-export a:before {
	margin-right: 3px;
}

.mc-export .rss a:before {
	content: '\f303';
}

.mc-export .ics a:before {
	content: '\f508';
}

.mc-download .google a:before,
.mc-download .ical a:before {
	content: "\f316";
}

.details .longdesc {
	margin: 1em 0;
}

/* hCard */
.single-event .address,
.mc-main .address {
	margin: .5em 0 1em 1em;
	float: right;
	border-radius: 10px 0 0 10px;
	padding: 10px;
	width: 50%;
	max-width: 250px;
	background: rgba( 255, 255, 255, .15 );
}

.single-event .address {
	float: none;
	margin-left: 0;
	padding: 0;
}

.mc-main.mini .address {
	margin: 15px 0;
	float: none;
	width: 100%;
	border-radius: 10px;
	max-width: 100%;
}

.mc-author-card, .mc-host-card {
	background: #fcfcfc;
}

/* List View */
.mc-main li.current-day {
	border-left: 5px solid var(--highlight-dark);
}

.mc-main li.current-day button:nth-of-type(1) {
	left: -5px;
}

.mc-main .mc-list li.mc-events {
	padding: 10px;
	background: rgba(0, 0, 0, .03);
}

.mc-main .sharing p {
	display: inline-block;
	padding: .5em .5em .5em 0;
}

.mc-main.mini .sharing p {
	font-size: 14px;
	padding: 0 .25em 0 0;
	margin-bottom: 10px;
}

.mc-main .sharing .ical a:before, .mc-main .sharing .gcal a:before {
	content: "\f502";
}

.mc-main .sharing .mc-details a:before {
	content: "\f242";
}

.mc-main .mc-list .event-date {
	font-size: 16px;
}

.mc-main .list-event {
	margin: .5em -10px;
	clear: both;
}

.mc-main .list-event .event-title .category-icon {
	margin-right: .5em;
	position: relative;
	top: -1px;
}