.mc-main span.category-color-sample {
	border: none !important;
}

.mc-main .my-calendar-header input:hover, .mc-main .my-calendar-header input:focus,
.mc-main .my-calendar-header a:hover, .mc-main .mc_bottomnav a:hover,
.mc-main .my-calendar-header a:focus, .mc-main .mc_bottomnav a:focus {
	text-decoration: underline;
}

.mc-main.list .my-calendar-month, .mc-main .heading  {
	font-size: 20px;
	color: #313233;
	color: var(--primary-dark);
	text-align: right;
	margin: 0;
}

.mc-main.mini .heading {
	font-size: 16px;
}

.mc-main th {
	font-size: 16px;
	background: #fff !important;
	background: var(--primary-light) !important;
	color: #313233 !important;
	color: var(--primary-dark) !important;
	border-bottom: 1px solid var(--primary-dark);
}

.mc-main td {
	border: 1px solid #efefef;
	border: 1px solid var(--highlight-light);
}

.mc-main td .event-title {
	font-size: 12px;
}

.mc-main .event-title {
	font-size: 24px;
}

.my-calendar-prev a:before,
.my-calendar-next a:after,
.mc-export a:before,
.mc-main .time-block:before,
.mc-main .sharing .ical a:before,
.mc-main .sharing .gcal a:before,
.mc-main .sharing .mc-details a:before,
.mc-main .mc-format a:before,
.mc-main .mc-format span:before,
.mc-main .mc-print a:before,
.mc-main .mc-list .event-date button:nth-of-type(1):before {
	font-family: 'dashicons';
	vertical-align: middle;
	position: relative;
	margin-right: 2px;
}

.mc-main .event-title .has-image {
	padding-left: 24px;
}

.mc-main .mc-print a:before {
	content: "\f497";
}

.mc-main .mc-format .list:before {
	content: "\f163";
}

.mc-main .mc-format .grid:before {
	content: "\f508";
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
	left: 3%;
	width: 94%;
	box-shadow: 0 0 4px;
}

.mc-main .calendar-events {
	width: 110%;
	left: -5%;
}

.mc-main .calendar-events .mc-event:nth-of-type(1n+1) {
	border-top: 1px solid var(--highlight-dark);
}

.mc-main .details {
	padding: 10px 40px;
}

.mc-main .single-event .details {
	padding: 0;
}

.mc-main.mini .details {
	padding: 16px;
	border-top: 1px solid #666;
	border-top: 1px solid var(--highlight-dark);
}

.mc-main .list-event .details {
	padding: 0;
	margin-top: 1em;
}

.mc-main .list-event .event-title {
	padding: .25em;
	border-radius: 0 10px 10px 0;
}

.mc-main .mc-list {
	border-top: 1px solid var(--highlight-light);
	border-left: 1px solid var(--highlight-light);
}

.mc-main .mc-list .event-date button {
	display: inline-block;
}

.mc-main .mc-list .event-date button:nth-of-type(1):before {
	content: "\f132";
	top: 0;
	margin-right: 3px;
}

.mc-main .mc-list .event-date button:nth-of-type(1)[aria-expanded=true]:before {
	content: "\f460";
}

.mc-main .mc-list .details > div {
	padding: 0 .5em;
}

.mc-main .mc-list .details .location {
	padding-right: 0;
}

.mc-main .mc-list .details > p {
	padding: .5em;
}

.mc-main button.close {
	left: 0px;
	top: 0px;
	padding: 10px !important;
	background: rgba( 200, 200, 200, .1 );
	border-radius: 20px;
}

.mc-main button.close, .mc-main button.close * {
	background: #fff;
	border-radius: 10px;
}

.mc-main .details .category-icon {
	width: auto;
}

/* Date/times */
.mc-main .time-block {
	float: right;
}

.mc-main.mini .time-block {
	float: none;
	font-size: 14px;
}

.mc-main .time-block p {
	color: #000;
	color: var(--secondary-dark);
	background: #fff;
	background: var(--primary-light);
	padding: 0 .25em !important;
}

.mc-main .time-block:before {
	content: "\f469";
	vertical-align: top;
	margin-right: 4px;
}

.mc-main .time-block .mc-event-date {
	display: block;
}

.mc-main .mc-event-date {
	font-weight: 700;
	color: #333;
	color: var(--primary-dark);
}

.mc-main .mc-date {
	padding: 0 8px;
	font-size: 16px;
}

.mc-main.mini .mc-date {
	font-size: 14px;
}

.mc-main .nextmonth {
	background: rgba( 200,200,200,.1 );
}

.mc-main .nextmonth .mc-date {
	background: transparent;
}

.mc-main .current-day {
	border-top: 1px solid #313233;
	border-top: 1px solid var(--highlight-dark);
	background: linear-gradient(to bottom, #fff 0%, var(--secondary-light) 30%, var(--highlight-light) 100%)
}

.mc-main .current-day .mc-date {
	border-top: 1px solid #313233;
	border-top: 1px solid var(--highlight-dark);
}

.mc-main .has-events a.mc-date {
	color: #fff;
	color: var(--primary-light);
	background: #333;
	background: var(--primary-dark);
}

.mc-main .has-events a.mc-date:hover,
.mc-main .has-events a.mc-date:focus {
	color: #333;
	color: var(--primary-dark);
	background: #fff;
	background: var(--primary-light);
}

/* Navigation */
.my-calendar-nav .my-calendar-prev a {
	border-right: 1px solid #bbb;
}

.my-calendar-nav .my-calendar-next a {
	border-left: 1px solid #bbb;
}

.mc-main .mc-time .month {
	border-right: 1px solid #bbb;
}

.mc-main .mc-time .week {
	border-right: 1px solid #bbb;
}

.mc-export a:before {
	margin-right: 3px;
}

.mc-export .rss a:before {
	content: '\f303';
}

.mc-export .ics a:before {
	content: '\f508';
}

.mc-download .google a:before,
.mc-download .ical a:before {
	content: "\f316";
}

/* Category Key */
.mc-main .category-key h3 {
	margin: 0 0 10px 0 !important;
}

.mc-main .category-key li.current a {
	border: 1px solid #000;
	background: #fff;
}

/* hCard */
.mc-main .location {
	clear: right;
}

.mc-main .vcard {
	margin: 0 0 1em 1em;
	float: right;
	padding: 10px;
	width: 250px;
	max-width: 50%;
	font-size: 14px;
	background: rgba( 0, 0, 0, .05 );
}

.mc-main.mini .vcard {
	margin: 15px 0;
	float: none;
	width: 100%;
	max-width: 100%;
}

/* List View */
.mc-main li.current-day {
	border-left: 5px solid;
}

.mc-main li.current-day button:nth-of-type(1) {
	position: relative;
	left: -5px;
}

.mc-main .mc-list .mc-events {
	padding: 10px;
	background: rgba(0, 0, 0, .05);
}

.mc-main .mc-list .mc-events.odd {
	padding: 10px;
	background: none;
}

.mc-main .sharing p {
	display: inline-block;
	padding: .5em .5em .5em 0;
}

.mc-main .sharing .ical a:before, .mc-main .sharing .gcal a:before {
	content: "\f502";
}

.mc-main .sharing .mc-details a:before {
	content: "\f242";
}

.mc-main .mc-list .event-date {
	font-size: 16px;
}

.mc-main .list-event {
	border-top: 1px solid #d1d1d1;
	margin: .5em -10px;
}

.mc-main .list-event .event-title .category-icon {
	margin-right: .5em;
	position: relative;
	top: -1px;
}