.mc-main .my-calendar-header, .mc-main .mc_bottomnav {
	background-color: rgba( 0, 0, 0, .15 );
	color: #000;
	padding: 2px 10px;
}

.mc-main .details ul, .mc-main .details ol, .mc-main details li  {
	margin: 5px 0 10px 30px;
}

.my-calendar-header > div, .mc_bottomnav > div {
	margin: 5px;
}

.mc-main .my-calendar-header a,
.mc-main .mc_bottomnav a,
.mc-main .my-calendar-footer select, .mc-main .my-calendar-footer input,
.mc-main .my-calendar-header select, .mc-main .my-calendar-header input {
	font-size: 16px !important;
}
.mc-main .my-calendar-footer select, .mc-main .my-calendar-footer input,
.mc-main .my-calendar-header select, .mc-main .my-calendar-header input {
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.mc-main .my-calendar-header a, .mc-main .mc_bottomnav a {
	color: #333;
	text-decoration: none;
	border-radius: 5px;
	padding: 4px 6px;
	font-size: .8em;
	background: linear-gradient(to top, rgba(230, 230, 230, .95) 0%, rgba(250, 250, 250, .95) 70%);
}

.mc-main .my-calendar-header a:hover, .mc-main .mc_bottomnav a:hover, .mc-main .my-calendar-header a:focus, .mc-main .mc_bottomnav a:focus {
	color: #fff;
	text-decoration: underline;
	background: linear-gradient(to bottom, rgba(125, 125, 125, .95) 0%, rgba( 90, 90, 90, .95) 70%);
}

.mc-main tr td {
	border: 1px solid #f6f6f6;
	height: 5em;
}

.mc-main th {
	text-transform: uppercase;
	padding: 8px 0;
	background: rgba(0, 0, 0, .8);
	color: #fff !important;
}

.mc-main table .current-day .mc-date {
	background: rgba(0, 0, 0, .8) !important;
	color: #fff;
}

.mc-main .heading {
	font-size: 2em;
	color: #fff;
	background: #333; 
	padding: 5px;
	text-align: right;
}

.mc-main.mini .heading {
	font-size: 1.2em;
}

.mc-main .event-title {
	margin: 0 !important;
	font-size: .8em;
}

.mc-main .event-title .has-image {
	padding-left: 24px; 
}

.mc-main.mini .event-title {
	padding: 10px 30px 10px 5px;
}

.mc-main.mini .event-title img {
	position: relative;
	margin-right: 4px;
	top: 0;
	left: 0;
}

.mc-main .mc-format a:before {
	font-family: dashicons;
	margin-right: 4px;
	vertical-align: text-top;
}

.mc-main .mc-format .list:before {
	content: "\f163";
}

.mc-main .mc-format .grid:before {
	content: "\f508";
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, .98);
	box-shadow: 0 0 4px;
}

.mc-main.calendar .details.no-image {
	padding-top: 60px;
}

.mc-main.calendar .single-event .details.no-image {
	padding-top: 0;
}

.mc-main .details {
	padding: 10px;
	position: relative;
}

.mc-main .mc-list .details {
	padding: 0;
}

.mc-main .close {
	position: absolute;
	left: -1em;
	top: -1em;
	padding: 4px;
	line-height: 1;
	border-bottom: none;
}
.mc-main.mini .close {
	left: auto;
	top: .25em;
	right: .5em;
}

.mc-main .close:hover, .mc-main .close:focus {
	background: rgba( 240, 240, 240, .8 );
}

.mc-main .details img {
	width: 100%;
	height: auto;
}

.mc-main .details .category-icon {
	width: auto;
}

.mc-main .details p {
	margin: 0 0 20px;
}

.mc-main .details h2, .mc-main .details h3 {
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1.3;
}

.mc-main .details h4, .mc-main .details h5, .mc-main .details h6 {
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5;
}

/* Sharing */
.mc-main .details .sharing {
	clear: both;
}

/* Date/times */

.mc-main.mini .time-block p {
	position: relative;
	display: block; 
	text-align: center;
	top: 10px;
	right: 0;
}
.mc-main .time-block p {
	color: #000;
	display: inline-block;
	margin: 0 !important;
	background: rgba( 255, 255, 255, .7 );
	padding: 0 10px !important;
}

.mc-main .time-block p:before {
	font-family: dashicons;
	content: "\f469";
	vertical-align: top;
	margin-right: 4px;
}

.mc-main .mc-event-date {
	font-weight: 700;
	color: #333;
}

.mc-main .has-events .mc-date {
	font-weight: 700;
	background: #333;
	color: #fff;
}

.mc-main .has-events .mc-date a {
	color: #fff;
}

.mc-main .mc-date {
	display: block;
	padding: 4px;
	font-size: 1.2em;
	background: rgba(240, 240, 240, .9);
	color: #111;
}

.mc-main .mc-single {
	font-size: 1.4em;
	margin: 0;
}

/* Navigation */
nav .my-calendar-nav ul {
	column-gap: 0;
}

.my-calendar-nav .my-calendar-prev a {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #bbb;	
}

.my-calendar-nav .my-calendar-next a {
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #fff;	
}

.my-calendar-nav .my-calendar-today a {
	border-radius: 0;
}

.my-calendar-prev a::before {
	content: '\25C0 ';
	margin-right: 4px;
}

.my-calendar-next a::after {
	content: ' \25b6';
	margin-left: 4px;
}

/* hCard */
.mc-main .vcard {
	margin: 0 0 15px 15px;
	float: right;
	padding: 20px;
	max-width: 50%;
	background: rgba( 0, 0, 0, .1 );
}

.mc-main .vcard .street-address {
	display: inline;
}

.mc-main .vcard .street-address:nth-of-type(2):before {
	content: ', ';
}

/* List View */
.mc-list .current-day .event-date:before {
	content: "\f139 ";
	font-family: dashicons;
	vertical-align: middle;
}

.mc-main .mc-list .mc-events {
	list-style-type: none !important;
	padding: 10px;
	background: rgba(0, 0, 0, .05);
	margin: 0;
}

.mc-main .mc-list .mc-events.odd {
	padding: 10px;
	background: none;
}

.mc-main.list .my-calendar-month {
	font-size: 1.4em;
	background: #000;
	color: #fff;
	padding: 5px;
	text-align: right;
}

.mc-main .list-event .event-title {
	margin-top: 10px !important;
	padding: 5px;
}

.mc-main .mc-list .event-date {
	font-size: 1.1em;
	font-weight: 600;
}

.mc-main .list-event {
	margin-top: 1em;
	clear: both;
}

.mc-main .list-event .event-title img {
	margin-right: .5em;
	position: relative;
	top: -1px;
}

.mc-main .nextmonth .event-title {
	opacity: .7;
}

/* Single view */
.single-event .event-title {
	padding: 10px;
	font-size: 1.4em;
}

.single-event .event-title img {
	margin-right: 10px;
	position: static;
}

/* Mini */
.mc-main.mini table {
	margin-bottom: 0;
}

.mc-main.mini tr td {
	height: auto;
}

.mc-main.mini .vcard {
	line-height: 1.5;
	margin: 0 0 15px;
	float: none;
	padding: 10px;
	max-width: 100%;
}

.mc-list-details.all-events {
	text-align: left;
	display: inline-block;
	text-transform: none;
	padding-left: 2em;
}