#adminmenumain,
#wpadminbar {
	display: none;
}

html.wp-toolbar {
	padding-top: 0;
}

#wpcontent {
	padding: 0 !important;
}

.modal-window-container {
	margin: 10px;
}

.modal-window-container img {
	max-width: 100%;
	width: auto;
	height: auto;
}

#TB_title {
	height: 0;
}

.modal-window-container .mc-help-links {
	padding: .5em;
	border-top: 2px solid;
	position: fixed;
	bottom: 0;
	width: calc( 100% - 20px );
	background: #fff;
	margin: 0 -10px;
}

.modal-window-container ul.help {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
}


.mc-template-cards {
	display: grid;
	grid-template-columns: repeat(3, 33.333333%);
	column-gap: 1px;
}

.mc-template-card div:first-of-type {
	font-weight: 700;
}

.mc-template-card {
	padding: 10px;
}

.mc-template-card pre {
	white-space:pre-wrap;
	line-break:anywhere
}

.mc-template-card code {
	display: block;
	margin: -10px -10px 0;
}

.mc-template-card:nth-of-type(even) {
	background: #f6f7f7;
}

.mc_template_tags {
	clear: right
}

.mc_keywords {
	margin: 1em;
}

.mc_keywords li {
	margin-bottom: .5em;
}

.mc_keywords p {
	display: inline;
}

.icon-list {
	display: grid;
	grid-template-columns: repeat( 6, 1fr );
}

.icon-list li {
	display: inline-block;
	padding: 5px;
	background: rgba(0, 0, 0, .05);
	margin: 2px;
	text-align: center;
}

.icon-list li code {
	background: none;
	display: block;
}

.icon-list svg {
	max-width: 1.5em;
	height: auto;
}