.mc-toggle-edit {
	all: unset;
	height: 32px;
	width: 32px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba( 0,0,0,.04 );
	color: #333;
}

.mc-toggle-edit[aria-expanded=true] {
	background: rgba( 0,0,0,.9 );
	color: #fff;
}

.mc-event .mc_edit_links,
.my-calendar-modal .mc_edit_links,
.mc-main .details .mc_edit_links {
	position: relative;
}

.mc-event .mc_edit_links ul,
.my-calendar-modal .mc_edit_links ul,
.mc-main .details .mc_edit_links ul {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid;
	padding: 1rem;
	bottom: 0;
	left: 34px;
	list-style: none;
	z-index: 2;
	box-shadow: 3px 3px 1px #ccc;
	padding: 4px;
	margin: 0;
}

.mc-event .mc_edit_links ul a,
.my-calendar-modal .mc_edit_links ul a,
.mc-main .details .mc_edit_links ul a {
	padding: 4px;
	font-size: 1rem;
	display: block;
}

.mc-event .mc_edit_links ul a:hover,
.my-calendar-modal .mc_edit_links ul a:hover,
.mc-main .details .mc_edit_links ul a:hover {
	background: rgba( 0,0,0,.04 );
}