.my-calendar-modal .mc_edit_links,
.mc-main .mc_edit_links,
.mc-event .mc_edit_links {
	font-size: 14px;
	font-family: sans-serif;
	line-height: 1.62;
	margin: 1.5rem 0 .5rem 0 !important;
	clear: both;
	background: var(--primary-light);
	border-radius: 10px;
	border: 1px solid var(--highlight-dark);
	padding: 0 8px;
}

.mc-event .mc_edit_links li,
.my-calendar-modal .mc_edit_links li,
.mc-main .details .mc_edit_links li,
.mc-event .mc_edit_links ul,
.my-calendar-modal .mc_edit_links ul,
.mc-main .details .mc_edit_links ul {
	list-style: none;
	margin: 4px 0;
	padding: 0;
	display: flex;
	gap: 8px;
}

.mc-main .my-calendar-cards .mc_edit_links {
	border: none;
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.mc-main .my-calendar-cards .card-event .details {
	padding-bottom: 3rem;
}

.mc-main .mc_edit_links a {
	color: var(--primary-dark);
	display: inline !important;
}