/* If copying this stylesheet, place in your theme directory. /wp-content/yourtheme/mc-print.css */

@page {
	size: landscape;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.my-calendar-header, .mc-toggle, .mc_edit_links, #mc-export, .longdesc, .shortdesc, .mc-print, form, .screen-reader-text, .sharing, .mc-date .event-icon, .all-categories {
	display: none;
}

img.category-icon,
svg.category-icon,
.category-color-sample.svg * {
	max-width: 18px;
	min-width: 16px;
	height: auto;
	padding: 1px;
	border-radius: 2px; 
}

.my-calendar-nav ul, .mc-main .category-key ul, .mc-main .mc-export ul, .mc-main .mc-list {
	margin: 0 !important;
	padding: 0 !important;
}

.my-calendar-navigation .category-key ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	align-items: center;
}

.mc-main .category-key li a {
	border: 1px solid transparent;
}

.mc-main .category-key li.current a {
	border: 1px solid var(--highlight-dark);
	background-color: var(--primary-light);
}

.mc-main .category-key.has-icons ul li {
	display: inline;
}

.mc-main .category-key li a {
	display: flex;
	align-items: center;
	gap: 4px;
	padding-right: 12px;
}

.mc-main .category-key .category-color-sample {
	display: flex;
	align-items: center;
	position: relative;
	padding: 2px;
}

.dashicons {
	vertical-align: middle;
}

h2 {
	text-align: center;
	margin-bottom: .5rem;
}

.event-title button,
button.mc-text-button {
	all: unset;
	border: 0;
	color: inherit;
	background-color: transparent;
	text-decoration: none;
	font-size: clamp( .875rem, 14px, 1.125rem );
	font-weight: 700;
	padding: 0 0 .5em
}

.event-title button {
	padding: 2px;
}

.event-title .has-image {
	display: grid;
	grid-template-columns: 18px 1fr;
	align-items: start;
	column-gap: 4px;
}

.mc-main {
	width: 910px;
	margin: 0 auto;
}

table {
	border: solid #dcdcde !important;
	border-width: 1px 0 0 1px !important;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	text-align: center;
	background: #f6f7f7;
	border: 1px solid #dcdcde;
	padding: 8px;
	width: 120px;
	text-transform: uppercase;
}

td {
	border: 1px solid #dcdcde !important;
	vertical-align: top;
	width: 130px;
	height: 4em;
	position: relative;
	padding-top: 1.5em;
}

.details {
	color: #444;
	margin-bottom: 2px;
}

.calendar .details * {
	display: none;
}

.event-title {
	font-size: 14px;
	margin: 0 0 4px;
}

abbr {
	border: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #000;
}

.mc-date {
	font-weight: 700;
	font-size: 16px;
	width: 1em;
	text-align: center;
	padding: 1px 6px;
	background: #f7f7f7;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}

.week .mc-date {
	width: 100%;
	padding: 0 0 2px;
	margin-left: 0;
	top: 0;
	right: 0;
	border-left: none;
	display: block;
}

.return {
	margin-top: 2em;
	text-align: center;
}

.return a {
	text-decoration: none;
	color: #0a4b78;
	border: 2px solid #043959;
	background: #f0f6fc;
	padding: 4px 8px 8px;
	border-radius: 6px;
}

.return a:hover, .return a:focus {
	outline: 2px solid #01557b;
	outline-offset: 2px;
}

li.mc-events {
	margin-top: 1em;
	list-style-type: none;
}

ul.mc-list {
	margin: 1em 0;
	padding: 0;
}

.mc-events .list-event {
	margin-bottom: .5em;
	padding-bottom: .5em;
	line-height: 1.4;
}

.mc-events .list-event .event-title {
	font-size: 16px;
}

.mc-events .list-event .address strong {
	font-weight: 400;
}

@media print {
	.return { display: none; }
}